@font-face {
  font-family: "MADE Evolve Sans Bold EVO";
  src: url("MADE Evolve Sans Bold EVO.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Bold";
  src: url("MADE Evolve Sans Bold.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Light EVO";
  src: url("MADE Evolve Sans Light EVO.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Medium EVO";
  src: url("MADE Evolve Sans Medium EVO.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Medium";
  src: url("MADE Evolve Sans Medium.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Regular EVO";
  src: url("MADE Evolve Sans Regular EVO.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Thin EVO";
  src: url("MADE Evolve Sans Thin EVO.otf");
}

@font-face {
  font-family: "MADE Evolve Sans Light";
  src: url("MADE Evolve Sans Light.otf");
}

@font-face {
  font-family: "Acrom Light";
  src: url("Acrom-Light.woff");
}

@font-face {
  font-family: "Acrom Medium";
  src: url("Acrom-Medium.woff");
}