@import url("https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: #2ddab8;
  color: white;
}

/* body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #2b36ac 0%, #161b49 100%);
  overflow: hidden;
  font-family: 'MADE Evolve Sans Regular EVO', sans-serif;
  color: #acacac;
  font-size: 0.9rem;
} */

a {
  color: #545454;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #acacac;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #2b36ac 0%, #161b49 100%);
  font-family: "MADE Evolve Sans Regular EVO", sans-serif;
  color: #acacac;
  font-size: 1.15rem;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollArea::-webkit-scrollbar {
  display: none !important;
}
.scrollArea {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.frame {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 2;
}

.frame__title {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.frame__links {
  margin: 1rem 0;
}

.frame__link:not(:last-child) {
  margin-right: 1.15rem;
}

.frame__nav .frame__link:first-child {
  /* margin-right: 1.5rem; */
}

.bottom-left {
  padding: 1.5rem;
  transform: translate3d(0, -100%, 0) !important;
}

@media screen and (min-width: 53em) {
  /* body {
		overflow: hidden;
	} */
  .frame {
    display: grid;
    height: 100vh;
    /* padding: 2rem 3.7rem; */
    padding-left: 3.7rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    pointer-events: none;
    align-content: space-between;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title links"
      "... ..."
      "... nav";
  }
  .frame__title {
    grid-area: title;
    padding-bottom: 5px;
  }
  .frame__links {
    font-size: 20px;
    grid-area: links;
    justify-self: end;
  }
  .frame__link {
    pointer-events: auto;
  }
  .frame__nav {
    grid-area: nav;
    justify-self: end;
  }
  .bottom-left {
    padding: 0 0 2rem 3.7rem;
  }
}
